<!doctype html>
<title>{% block title %}{% endblock %} - Readr</title>
<nav>
    <h1>Readr</h1>
    <ul>
        <li><a href="{{ url_for('books.list_books') }}">Books<a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}
    {% endblock %}
</section>
