{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}Book Listing{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Title</th>
            <th>ISBN-10</th>
            <th>ISBN-13</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book["title"] }}</td>
                <td>{{ book["isbn10"] }}</td>
                <td>{{ book["isbn13"] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
